body {
    margin: 0;
    background-color: rgb(28, 35, 32);
    color: rgb(255, 255, 255);
    
}

.navbar {
    display: flex;
    gap: 12px;
     justify-content: space-between;
    align-items: center;
    background-color: rgb(0,0,0);
    h1{
        margin-left: 10px;
    }
    
}

.nav {
    display: flex;
    column-gap: 60px;
    margin-right: 20px;
    color: rgb(4, 151, 191);
}

.link {
    text-decoration: none;
    align-items: center;
    color: rgb(255, 255, 255);
}



li {
    list-style: none;
}

.jk {
    display: flex;
    justify-content: space-around;
    padding-top: 150px;
    height: 400px;
}

.one {
    /* border: 1px solid white; */
    
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
}

.second {
    flex-basis: 50%;
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profileimage{
    display: block;
    width: 275px;
    height: auto;
    background-color: rgb(132, 132, 246);
}


.footer{
    text-align: center;
    padding: 16px;
}

.about{
    text-align: center;
}
.info{
    width: 60%;
    margin: 0 auto;

}
.skill-wrapper{
    margin-top: 64%;
}
.skills {
        list-style: none;
        gap:24px;
        justify-content: center;
        display: flex;
        font-size: 24px;
        
        
}

.skill{
    background-color: white;
    padding: 16px 24px;
    color: black;
    font-weight:200;
}

.project{
display: flex;
width: 85%;
margin: 0 auto;
gap: 20px;
}

.projectimage{
    display: block;
    width: 800px;
    height: auto;

}

.projectdes{
    padding: 60px 80px;
    font-size: 24px;
    line-height: 40px;

}


    .projectname{
        font-size: 32px;
    }